{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <!-- Кнопки навигации -->
        <div class="row">
            <div class="col">
                <div class="btn-group">
                  <a href="{% url 'info' %}" class="btn btn-primary" aria-current="page">Общая информация</a>
                  <a href="{% url 'maintenance' %}" class="btn btn-primary active">ТО</a>
                  <a href="{% url 'reclamation' %}" class="btn btn-primary">Рекламации</a>
                </div>
            </div>
        </div>

        <!-- Форма для фильтрации данных -->
        <div class="row">
            <div class="col">
                <form method="GET" action=".">
                    <div class="form-row">
                        <div class="input-group">
                            <input type="search" name="mtype" placeholder="Вид ТО"/>
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent">
                                    <i class="fa fa-search"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="search" name="vehicle" placeholder="Зав № машины"/>
                    </div>
                    <div class="form-row">
                        <input type="search" name="service" placeholder="Сервисная компания"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <!-- Таблица с данными -->
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Вид ТО</th>
                            <th scope="col">Дата проведения ТО</th>
                            <th scope="col">Наработка, м/час</th>
                            <th scope="col">№ заказ-наряда</th>
                            <th scope="col">Дата заказ-наряда</th>
                            <th scope="col">Зав. № машины</th>
                            <th scope="col">Сервисная компания</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for v in maintenance_list %}
                    <tr>
                        <td><a href="{% url 'handbook_detail' v.maintenance_type.pk %}"/>{{v.maintenance_type}}</td>
                        <td>{{v.maintenance_date}}</td>
                        <td>{{v.operating_time}}</td>
                        <td>{{v.work_order_id}}</td>
                        <td>{{v.work_order_date}}</td>
                        <td>{{v.vehicle}}</td>
                        <td>{{v.service_company.first_name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
