{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <!-- Приветствие -->
        <div class="div row">
            <div class="div col text-center">
                <p class="fs-3">{{ user.first_name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="fs-3">Информация о проведенных ТО Вашей техники</p>
            </div>
        </div>

        <!-- Кнопки навигации -->
        <div class="row">
            <div class="col">
                <div class="btn-group d-flex justify-content-evenly">
                  <a href="{% url 'info' %}" class="btn btn-light border border-4 rounded-pill" aria-current="page">Общая информация</a>
                  <a href="{% url 'maintenance' %}" class="btn btn-primary rounded-pill active">ТО</a>
                  <a href="{% url 'reclamation' %}" class="btn btn-light border border-4 rounded-pill">Рекламации</a>
                </div>
            </div>
        </div>

        <!-- Форма для фильтрации данных -->
        <div class="row">
            <div class="col">
                <form method="GET" action="." class="py-5">
                    <div class="form-row">
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="mtype" placeholder="Вид ТО"/>
                        </div>
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="vehicle" placeholder="Зав № машины"/>
                        </div>
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="service" placeholder="Сервисная компания"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <!-- Таблица с данными -->
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Действия</th>
                            <th scope="col">Вид ТО</th>
                            <th scope="col">Дата проведения ТО</th>
                            <th scope="col">Наработка, м/час</th>
                            <th scope="col">№ заказ-наряда</th>
                            <th scope="col">Дата заказ-наряда</th>
                            <th scope="col">Зав. № машины</th>
                            <th scope="col">Сервисная компания</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for v in maintenance_list %}
                    <tr>
                        <td>
                            <a class="btn bg-transparent border" href="{% url 'maintenance_edit' v.pk %}"><i class="fa fa-pen"></i></a>
                            <a class="btn bg-transparent border" href="{% url 'maintenance_delete' v.pk %}"><i class="fa fa-trash"></i></a>
                        </td>
                        <td><a href="{% url 'handbook_detail' v.maintenance_type.pk %}"/>{{v.maintenance_type}}</td>
                        <td>{{v.maintenance_date}}</td>
                        <td>{{v.operating_time}}</td>
                        <td>{{v.work_order_id}}</td>
                        <td>{{v.work_order_date}}</td>
                        <td>{{v.vehicle}}</td>
                        <td>{{v.service_company.first_name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
