{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <!-- Приветствие -->
        <div class="div row">
            <div class="div col text-center">
                <p class="fs-3">{{ user.first_name }}</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col text-center">
                <p class="fs-3">Информация о комплектации и технических характеристиках Вашей техники</p>
            </div>
        </div>

        <!-- Кнопки навигации -->
        <div class="row">
            <div class="col">
                <div class="btn-group d-flex justify-content-evenly">
                    <a href="{% url 'info' %}" class="btn btn-primary rounded-pill active" aria-current="page">Общая информация</a>
                    <a href="{% url 'maintenance' %}" class="btn btn-light border border-4 rounded-pill">ТО</a>
                    <a href="{% url 'reclamation' %}" class="btn btn-light border border-4 rounded-pill">Рекламации</a>
                    {% if perms.api.change_handbook and perms.api.delete_handbook %}
                        <a href="{% url 'handbook' %}" class="btn btn-light border border-4 rounded-pill">Справочники</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Форма для фильтрации данных -->
        <div class="row justify-content-center p-3">
            <div class="col-xs-6 col-md-6 border bg-white border rounded-5 my-4">
                <form method="GET" action="." class="py-5">
                    <div class="form-row">
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="vehicle" placeholder="модель техники"/>
                        </div>
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="engine" placeholder="модель двигателя"/>
                        </div>
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="transmission" placeholder="модель трансмиссии"/>
                        </div>
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="mainaxle" placeholder="модель ведущего моста"/>
                        </div>
                        <div class="input-group mb-4">
                            <button class="input-group-text bg-transparent" type="button"><i class="fa fa-search"></i></button>
                            <input class="form-control" type="search" name="drivenaxle" placeholder="модель управляемого моста"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Найти</button>
                </form>
            </div>
        </div>

        <!-- Кнопка добавления нового объекта -->
        {% if perms.api.add_vehicle %}
        <div class="row pb-4">
            <div class="col-auto">
                <span class="fs-4">Нажмите, чтобы создать объект: </span>
                <a href="{% url 'vehicle_add' %}" class="btn btn-primary">Добавить</a>
            </div>
        </div>
        {% endif %}

        <!-- Таблица с данными -->
        <div class="row pb-5">
            <div class="table-responsive border-top border-dark border-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% if perms.api.change_vehicle and perms.api.delete_vehicle %}
                            <th scope="col">Действия</th>
                            {% endif %}
                            <th scope="col">Зав. № машины</th>
                            <th scope="col">Модель техники</th>
                            <th scope="col">Модель двигателя</th>
                            <th scope="col">Зав. № двигателя</th>
                            <th scope="col">Модель трансмиссии</th>
                            <th scope="col">Зав. № трансмиссии</th>
                            <th scope="col">Модель ведущего моста</th>
                            <th scope="col">Зав. № ведущего моста</th>
                            <th scope="col">Модель управляемого моста</th>
                            <th scope="col">Зав. № управляемого моста</th>
                            <th scope="col">Договор поставки №, дата</th>
                            <th scope="col">Дата отгрузки с завода</th>
                            <th scope="col">Грузополучатель (конечный потребитель)</th>
                            <th scope="col">Адрес поставки (эксплуатации)</th>
                            <th scope="col">Комплектация (доп. опции)</th>
                            <th scope="col">Клиент</th>
                            <th scope="col">Сервисная компания</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for v in vehicle_list %}
                    <tr>
                        {% if perms.api.change_vehicle and perms.api.delete_vehicle %}
                        <td>
                            <a class="btn bg-transparent border" href="{% url 'vehicle_edit' v.pk %}"><i class="fa fa-pen"></i></a>
                            <a class="btn bg-transparent border" href="{% url 'vehicle_delete' v.pk %}"><i class="fa fa-trash"></i></a>
                        </td>
                        {% endif %}
                        <td>{{v.vehicle_id}}</td>
                        <td><a href="{% url 'handbook_detail' v.vehicle_model.pk %}"/>{{v.vehicle_model}}</td>
                        <td><a href="{% url 'handbook_detail' v.engine_model.pk %}"/>{{v.engine_model}}</td>
                        <td>{{v.engine_id}}</td>
                        <td><a href="{% url 'handbook_detail' v.transmission_model.pk %}"/>{{v.transmission_model}}</td>
                        <td>{{v.transmission_id}}</td>
                        <td><a href="{% url 'handbook_detail' v.main_axle_model.pk %}"/>{{v.main_axle_model}}</td>
                        <td>{{v.main_axle_id}}</td>
                        <td><a href="{% url 'handbook_detail' v.driven_axle_model.pk %}"/>{{v.driven_axle_model}}</td>
                        <td>{{v.driven_axle_id}}</td>
                        <td>{{v.contract_id_date}}</td>
                        <td>{{v.shipping_date}}</td>
                        <td>{{v.consignee}}</td>
                        <td>{{v.shipping_address}}</td>
                        <td>{{v.equipment}}</td>
                        <td>{{v.client.first_name}}</td>
                        <td>{{v.service_company.first_name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
